<!-- @dsCard group="Components" viewport="1200x100" name="Navigation: NavBar" -->
<!DOCTYPE html><html><head><link rel="stylesheet" href="../../styles.css">
<script src="https://unpkg.com/react@18/umd/react.development.js"></script>
<script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
<script src="../../_ds_bundle.js"></script>
<style>body{margin:0;background:var(--bg-page)}</style>
</head><body>
<div id="root"></div>
<script type="text/babel">
const { NavBar } = window.ProzreniyaDesignSystem;
ReactDOM.createRoot(document.getElementById('root')).render(<NavBar/>);
</script>
</body></html>
